body {
    background: radial-gradient(circle, #383838, #151515);
    text-align: center;
    overflow-x: hidden;
    background-color: #141414;
}

.top-bar{
    width: 100%;
    height: 60px;
    display: flex;     
    align-items: center;   
    gap: 10px;         
    padding: 0 20px;       
}



.top-BTN:hover{
    color: #444444;
    font-size: 40px;
}

.logo{
    transition: 0.1s;
    position:fixed; top:0; right:0; margin:5px;
}

.logo:hover{
    filter: brightness(105%);
}



.top-BTN{
    border: none;
    border-radius: 5px;
    background: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 35px;
    transition: 0.2s;
}


.header{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 200px;
}

.title{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 100px;
}

.titlelink{
    font-family: sans-serif;
    color: rgb(160, 160, 160);
    font-size: 25px;
    transition: 0.2s;
    text-decoration: underline rgb(0, 0, 0);
}

.titlelink:hover{
    font-size: 30px;
    color:rgb(255, 255, 255)
}