body {
    background-image: url('Grid.png');
    background-repeat: repeat;
    text-align: center;
    overflow-x: hidden;
}

.top-bar{
    width: 100%;
    height: 60px;
    background-color: rgb(223, 171, 93);
    display: flex;     
    align-items: center;   
    gap: 10px;         
    padding: 0 20px;       
}

.top-BTN{
    border: none;
    border-radius: 5px;
    background-color: #eebd85;
    color: rgb(253, 236, 198);
    font-weight: bold;
    font-size: 35px;
    transition: 0.2s;
}

.top-BTN:active{
    filter: brightness(100%);
    transform: scale(1.10);
}

.DownloadButton {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 198, 132);
    color: white;
    font-size: 35px;
    box-shadow: 0px 5px 10px black;
    margin-top: 20px;
    transition: 0.2s;
}

.GameImage{
    border-radius: 10px;
    box-shadow: 0px 10px 20px black;
    transition: 0.2s;
    margin-top: 100px;
}

.GameImage:hover{
    transform: scale(1.05);
    filter: saturate(100%) brightness(150%);
}

.DownloadButton:hover{
    background-color: rgb(255, 222, 183);
    transform: scale(1.10);
}

.GameDescription{
    font-family: "Minecraft Medium";
    max-width: 600px;
    text-align: center;  
    margin: 0 auto;         
    font-size: 30px;
    line-height: 1.3;        
    word-break: break-word; 
}


.gametitle{
    margin-top: 20px;
    font-family: "Barber Chop Regular";
    font-size: 50px;
}


.DefText{
    margin-top: 300px;
    font-family: "Barber Chop Regular";
}

